{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="checkout-container h-screen pt-20 mx-20">
    {% if not request.user.is_authenticated %}
    <div class="mb-5">
        <div class="border p-4 rounded text-center">
            You are nearly finished with your order.
            Please <a href="#">Login</a> or <a href="#">Signup</a>
        </div>
    </div>
    {% else %}
    <form method="POST" class="address-form">
        {{ csfr_token }}
        <div class="flex flex-col md:flex-row justify-center">
            <div class="md:w-1/2 mb-5 md:mb-0">
              <h2 class="text-black text-center text-xl font-semibold mb-3">Billing Details</h2>
              <hr class="mb-3" />
              {{form|crispy}}
              <div class="form-group mt-3">
                <button type="submit" class="bg-orange text-black font-semibold rounded-md py-3 w-full">
                <i class="fa-brands fa-paypal"></i> Proceed to payment
                </button>
              </div>
            </div>
          </div>
          
        
    </form>

    {% endif %}
</div>
{% endblock %}