{% extends "base.html" %}

{% block content %}
<div class="order_summary text-center mt-5">
    <h4>Select a payment method</h4>
    <p>Order total: ${{ order.get_order_total }}</p>
</div>
<div class="flex justify-center">
<div id="paypal-button-container"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ order.get_order_total }}'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
            setTimeout(function () {
                window.location.href = "{% url 'cart:order_complete' %}";
            }, 2000);
            });
        }
    }).render('#paypal-button-container');
  </script>
{% endblock scripts %}
