{% extends "base.html" %}

{% block content %}
<p>this is payment.html</p>
<div class="flex justify-center">
<div id="paypal-button-container"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ order.get_order_total }}'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                console.log(details);
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }
    }).render('#paypal-button-container');
  </script>
{% endblock scripts %}
