:root {
    --yellow-light: #ffdb4b;
    --yellow: #ffcf00;
    --footerPurple: rgb(32, 29, 72);
}

nav{
    background-color: var(--yellow);
}


footer{
    background-color: var(--footerPurple);
}

.hero-bg {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
}