{% load static %}
<footer class="text-white bg-deepPurple py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
        <!-- 25% parent container -->
        <div class="md:w-1/4 mb-6 md:mb-0">
            <img src="{% static 'images/lego-logo.png' %}" alt="cartoon lego logo image">
        </div>
        <div class="text-center md:w-1/4 mb-6 md:mb-0">
            <h4 class="text-lg font-semibold">Support</h4>
            <div class="footer-links">
                <a href="https://www.lego.com/en-ie/page/shipping-handling" target="_blank" class="text-white no-underline hover:underline">Deliveries & Returns</a>
            </div>
        </div>
        <div class="text-center md:w-1/4 mb-6 md:mb-0">
            <h4 class="text-lg font-semibold">Follow Us</h4>
            <div class="footer-links">
                <a href="https://www.facebook.com/LEGO/" target="_blank" rel="noopener" class="media-icons text-white"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/LEGO_Group" target="_blank" rel="noopener" class="media-icons text-white"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/lego/" target="_blank" rel="noopener" class="media-icons text-white"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/user/LEGO?app=desktop"target="_blank" rel="noopener" class="media-icons text-white"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="text-center md:w-1/4 mb-6 md:mb-0">
            <form method="post">
            <h4 class="text-lg font-semibold">Subscribe to Digital Marketing Emails</h4>
            <a href="{% url 'marketing' %}" class="bg-orange text-black font-semibold rounded-md py-2 px-3 no-underline hover:no-underline">Subscribe</a>
            </form>
        </div>

    </div>
    
</footer>