<footer class="text-white bg-deepPurple py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
        <!-- 25% parent container -->
        <div class="md:w-1/4 mb-6 md:mb-0">
            <img src="/static/images/lego-logo.png" alt="Logo" class="w-20 h-20">
        </div>
        <div class="text-center md:w-1/4 mb-6 md:mb-0">
            <h4 class="text-lg font-semibold">Support</h4>
            <div class="footer-links">
                <a href="#" class="hover:underline">Deliveries & Returns</a>
            </div>
        </div>
        <div class="text-center md:w-1/4 mb-6 md:mb-0">
            <h4 class="text-lg font-semibold">Follow Us</h4>
            <div class="footer-links">
                <a href="#" class="media-icons"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="media-icons"><i class="fab fa-twitter"></i></a>
                <a href="#" class="media-icons"><i class="fab fa-instagram"></i></a>
                <a href="#" class="media-icons"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="text-center md:w-1/4 mb-6 md:mb-0">
            <form method="post">
            <h4 class="text-lg font-semibold">Subscribe to Digital Marketing Emails</h4>
            <input type="email" class="bg-white text-gray-300 rounded-md mb-2" value="Your email address">
            <input type="submit" value="Save" class="bg-orange text-black font-semibold rounded-md py-2 px-3">
            </form>
        </div>

    </div>
    
</footer>