{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center h-screen hero-bg ">
    <div class="text-center text-white">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Galactic Harmony on Abbey Road</h1>
        <p class="text-xl md:text-2xl">Where Lego Star Wars Characters March to the Rhythm of Imagination</p>
        <a href="{% url 'cart:product_list' %}"
            class="bg-white text-black no-underline hover:underline font-semibold px-4 py-2 mt-6 rounded-md">Explore
            Now</a>
    </div>
</div>
<div class="top-picks flex items-center justify-center flex-wrap mt-5 mb-5">
    <div class="top-pick-card w-1/4 overflow-hidden mx-1">
        <img class="top-picks-image rounded" src="https://res.cloudinary.com/dttlgt9z2/image/upload/v1698412830/uma25nb5f0qil1hvlhsi.png" style="width:285px; height:200px; ;" alt="lego star wars minigfigure standing beside red spaceship">
        <div class="px-6 py-4">
            <div class="font-semibold text-xl mb-2">Embark on a big adventure</div>
            <p class="info-box">
                Search for gifts to thrill fantasy fans
            </p>
            <a href="{% url 'cart:product_list' %}?selected_theme={{ 1 }}" class="text-black font-semibold no-underline hover:no-underline">Shop Now</a>
            <span class="mx-2"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
    <div class="top-pick-card w-1/4 overflow-hidden mx-1">
        <img class="top-picks-image rounded" src="https://res.cloudinary.com/dttlgt9z2/image/upload/v1698412985/rwusybw2ubnlbh4sbvle.png" style="width:285px; height:200px;" alt="lego witch minigures in haunted house">
        <div class="px-6 py-4">
            <div class="font-semibold text-xl mb-2">Frightful Halloween Picks</div>
            <p class="info-box">
                Dive into ghostly builds and haunted<br> houses for a chilling adventure
            </p>
            <a href="{% url 'cart:product_list' %}?selected_theme={{ 5 }}" class="text-black font-semibold no-underline hover:no-underline">Shop Now</a>
            <span class="mx-2"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
    <div class="top-pick-card w-1/4 overflow-hidden mx-1">
        <img class="top-picks-image rounded" src="https://res.cloudinary.com/dttlgt9z2/image/upload/v1698412985/ptvkcyhifk53gehk96qq.png" style="width:285px; height:200px;" alt="lego wooden house with snow on roof with minifigures playing with sleigh outside in snow">
        <div class="px-6 py-4">
            <div class="font-semibold text-xl mb-2">Create Wonder with Every Gift</div>
            <p class="info-box">
                Delight your loved ones with imaginative<br>
                worlds and cherished memories, all wrapped<br>up
            </p>
            <a href="{% url 'cart:product_list' %}?selected_theme={{ 6 }}" class="text-black font-semibold no-underline hover:no-underline">Shop Now</a>
            <span class="mx-2"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
    <div class="top-pick-card w-1/4 overflow-hidden mx-1">
        <img class="top-picks-image rounded" src="https://res.cloudinary.com/dttlgt9z2/image/upload/v1698412985/qowk0sxg5txmyaqtvj2i.png" style="width:285px; height:200px;" alt="lego minifigures celebrating with balloons & confetti">
        <div class="px-6 py-4">
            <div class="font-semibold text-xl mb-2">Adults Welcome</div>
            <p class="info-box">
                Embark on a journey of creativity and<br>
                nostalgia with our exclusive LEGO sets<br>
                designed for the adult
            </p>
            <a href="{% url 'cart:product_list' %}?selected_theme={{ 2 }}" class="text-black font-semibold no-underline hover:no-underline">Shop Now</a>
            <span class="mx-2"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
</div>

{% endblock %}