<nav class="py-4 shadow-lg fixed top-0 left-0 right-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center mr-4">
            <div class=" flex items-center lego-logo ">
            <img src="/static/css/images/lego-logo.png" alt="Logo" class="w-12 h-12 mr-10">
        </div>
            <a href="#" class=" lg:text-black font-medium m-2 no-underline hover:underline">SHOP</a>
            <a href="#" class="lg:text-black font-medium m-2 no-underline hover:underline">
                <img src="/static/css/images/lego-head.png" class="xxs:h-5 xxs:w-5 lg:h-6 lg:w-6 inline-block mr-1" alt="">
                LOGGED IN USER
            </a> 
        </div>
        <div class="flex items-center">
            <a href="#" class="text-black hover:text-gray-900">
                <i class="fas fa-search"></i>
            </a>
            <a href="#" class="text-black hover:text-gray-900 ml-6">
                <i class="fas fa-shopping-bag"></i>
            </a>
        </div>
    </div>
</nav>