<nav class="py-4 shadow-lg fixed top-0 left-0 right-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center mr-4">
            <div class=" flex items-center lego-logo ">
            <img src="logo.png" alt="Logo" class="w-12 h-12">
            <div class="ml-4 text-xl font-semibold text-black mr-6">LEGO</div>
        </div>
            <a href="#" class=" lg:text-black font-medium m-2 no-underline hover:underline">SHOP</a>
            <a href="#" class=" lg:text-black font-medium m-2 no-underline hover:underline">LOGGED IN USER</a> 
        </div>
        <div class="flex items-center">
            <a href="#" class="text-black hover:text-gray-900">
                <i class="fas fa-search"></i>
            </a>
            <a href="#" class="text-black hover:text-gray-900 ml-6">
                <i class="fas fa-shopping-bag"></i>
            </a>
        </div>
    </div>
</nav>