{% extends "base.html" %}
{% load static %}
{% block content %}
<p>this is user_profile.html</p>

<div class="account">
    <div class="container">
        <div class="flex justify-center">
            <div class="w-full md:w-3/4 lg:w-1/2">
                <h2 class="text-black text-center text-2xl md:text-4xl font-semibold">Your Account</h2>
                    <div class="p-6 profile-content ">
                        <h5 class="text-xl font-semibold mb-3">{{ request.user.username }}</h5>
                        <a href="{% url 'account_logout' %}" class="bg-orange text-black font-semibold rounded-md py-2 px-3 no-underline hover:no-underline">Logout</a>
                       
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}