{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="account">
    <div class="container">
        <div class="flex justify-center">
            <div class="w-full md:w-3/4 lg:w-1/2">
                <h2 class="text-black text-center text-2xl md:text-4xl font-semibold">Your Account</h2>
                    <div class="p-6 profile-content ">
                        <h5 class="text-xl font-semibold mb-3">{{ request.user.username }}</h5>
                        <a href="{% url 'account_logout' %}" class="bg-orange text-black font-semibold rounded-md py-2 px-3 no-underline hover:no-underline">Logout</a>
                        <hr class="my-4">
                        <h5 class="text-xl font-semibold">Your Orders</h5>
                        <div class="mt-4">
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="text-left">Reference No.</th>
                                        <th class="text-left">Date</th>
                                        <th class="text-left">Amount</th>
                                        <th class="text-left">Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td class="py-2">#{{ order.reference_number }}</td>
                                        <td class="py-2">{{ order.order_date }}</td>
                                        <td class="py-2">${{ order.get_order_total }}</td>
                                        <td class="py-2">
                                            {% if order.ordered %}
                                                Paid
                                            {% else %}
                                                Not paid
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4" class="py-2">You haven't made any orders yet</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                       
                    </div>     
            </div>
        </div>
    </div>
</div>

{% endblock %}